.config{
    border: 1px solid black;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #8bbabb;
}

#cabeza{
    background-color: #464159;
    padding: 2%;
    color: rgb(190, 190, 190);
}

#titulos{
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}

#anterior{
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}

#posterior{
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}

#informacionSuperior{
    text-align: center;
    border: 1px solid black;
}

#diasc{
    text-align: center;
    border: 1px solid black;
    width: 100%;
}

#informacionInferior{
    text-align: center;
    border: 1px solid black;
}

#buscafecha{
    background-color: #6c7b95;
    text-align: center;
    border: 1px solid black;
}

#tableContainer{
    text-align: center;
    background-color: #464159;
}

@media screen and (max-width: 860px) {
    .config{
        border: 1px solid black;
        width: 100%;
        background-color: #8bbabb;
        margin-left: 0%;
    }

    #titulos{
        display: inline-block;
        margin-right: 3%;
        margin-left: 3%;
        font-size: 16px;
    }
}

th{
    color: rgb(199, 199, 199);
}

#backPort{
    text-align: center;
    padding-top: 10%;
}

body{
    background-color: rgb(110, 110, 110);
}

.button{
    background-color: #464159;
    color: rgb(187, 187, 187);
    border: 1px solid black;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}