h4{
    color: white;
}

.contColor{
    background: rgba(120, 120, 120, 0.4);
    padding-right: 2%;
}

.centerPage{
    padding-top: 20px;
}

@media screen and (max-width: 860px) {
    .centerPage{
        padding-top: 50px;
    }

    body{
        margin-bottom: 30px;
    }

    .cellCase{
        padding-bottom: 10px;
    }
    .inputSize{

    }
}

.noMargin{
    margin: 0;
}

.inputSize{
    width: 45vh;
}

.format{
    margin: 0;
}