.headerTop{
    background-color: rgba(120, 120, 120, 0.4);
}
.tav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.tav li {
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
color: rgb(223, 223, 223);
font-size: 40px;
padding-left: 50px;
padding-right: 50px;
}

.subFormat{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    font-size: 25px;
    margin: 0;
    display: block;
}

.pd{
    margin:0;
}

.infoImg{
    display: inline-block;
    width: 30%;
}

.infoFormat{
    background-color: white;
    text-align: center;
    width: 100%;
}

.infoImg1{
    float: right;
}


.sectionInfo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5%;
}

.acerca{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5%;
}

.finalSection{
    background-color: #222831;
}

@media screen and (max-width: 860px) {
    .finalSection {
        text-align: center;
      
        background-color: #222831;
    }
    .pd {
        width: 100%;
      }

      .infoImg{
        display: inline-block;
        width: 100%;
    }
    .infoFormat{
        height: 135vh;
    }
}

.cursoInfo{
    display: inline-block;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(224, 223, 223);
    font-size: 24px;
}

.cursoFormato{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(224, 223, 223);
    font-size: 18px;
}